.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.path {
  outline: none;
}

.path:focus {
  outline: none;
}

.path:focus-visible {
  outline: none;
}

.path-pattern {
  outline: none;
}

.path-pattern:focus {
  outline: none;
}

.path-pattern:focus-visible {
  outline: none;
}

.circle {
  outline: none;
}

.circle:focus {
  outline: none;
}

.circle:focus-visible {
  outline: none;
}

.bold {
  font-weight: bold;
}

.state-title {
  font-size: 1.5em
}

/* Table */
table {
  margin-top: 5px;
}

th {
  color: #7c7c7c;
}

thead th {
  font-weight: 600;
  font-size: 12px;
  font-family: DM sans;
  border: 1px solid #ccc;
  padding: 4px;
  color: #fff;
  background-color: #c93235;
}

tbody td {
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 4px;
  font-weight: 600;
  text-align: center;
}


